.listHeading {
  margin-top: 1rem;
  padding-top: 1rem;
}

.list {
  padding: 1rem;

  a {
    text-decoration: none;
    color: black;
    &:nth-child(even) {
      color: blue;
      background-color: red !important;
    }
  }

  li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    border: 2px solid #eee;
    border-radius: 5px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.authorName {
  color: gray;
  margin-left: 10px;
}
