.listHeading {
  margin-top: 1rem;
  padding-top: 1rem;
}

.listOutput {
  padding: 0.5rem;
  font-weight: normal;
}

.list {
  padding: 1rem;

  a {
    display: block;
    text-decoration: none;
    color: black;
    &:nth-child(2n) {
      background-color: #e7e7e7;
    }
  }

  li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    border: 2px solid #eee;
    border-radius: 5px;
  }
}

.authorName {
  color: gray;
  margin-left: 10px;
}
