nav{
  width:100%;
  ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    margin: 0 auto;
    padding: 1rem;
    li{
      list-style-type: none;
      a{
        text-decoration: none;
        color:white;
      }
    }
  }
}