form#search {
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 20px 10px 10px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  z-index: 999;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: absolute !important;
  top: 32vh;
  left: 50%;
  transform: translateX(-50%);
  img {
    height: 18px;
    margin-left: 2rem;
    z-index: 999;
  }

  input[type="text"] {
    margin-left: -3rem;
    font-size: 1rem;
    width: 250px;
    padding: 0;
    border: none;
    &:focus {
      outline: none;
    }
  }

  button {
    padding: 15px 35px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
}
